
//--
//icone heart
//--

//heart est une balise label
.heart{
    position: relative;
    background: transparent;
    height: 40px;
    cursor: pointer;
    //border: $border;

    //balise input type checkbox invisible...
    input{
        visibility: hidden;
        &:checked + .fa-solid{
            animation: heart 150ms 3 both;
            
        }
    }

    //L'icone de coeur vide reste au dessus du layer du coeur coloré.
    .fa-regular{
        z-index: 1;
    }
    .fa-solid{
        opacity: 0;
        transform: scale(2.2);
        position: absolute;
        left: 0px;
        padding-top: 1px;
        @include gradient;
        
        //permet de mettre un gradient sur l'icone
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }      
}

//--
//bouton "principal
//--

.btn-pink{
    margin: 70px auto;
    //border: $border;
    text-align: center;
    
    //pour élargir le bouton commander des pages menu
    .commander {
        padding-left: 55px;
        padding-right: 55px;
        }
    a{

    //permet d'avoir un arrondi sur toute la hauteur
    border-radius: 100rem;
    @include gradient;
    white-space: nowrap;
    box-shadow: $box-shadow;
    padding: 20px;
    color: $color-white;
    font-size: 20px;
    transition: 300ms;
    &:hover{
        opacity: .5;
        box-shadow: $box-shadow-darker;

        //éclaircir le bouton mais opacity c'est plus simple...
        //@include hover-gradient; 
        }
    }
   
}

//--
//bouton étapes
//--

.guide{
    &__step{
         a{
        @include btn;
        height: 100px;
        transition: all 300ms;
        @include desktop{
            height: 83px;
        }
        border-radius: 30px;
        display: flex;
        align-items: center;
        background-color: $color-nav-background;
        margin-bottom: 20px;
        &:hover{
            background-color: $color-hover-guide;
            i{
                color: $color-primary;
            }
        }
        }
    &__text{
        padding: 2% 10%;
        font-size: 14px;
        }

        //pastille des étapes + numéro d'étape
    &__number{
        color: $color-white;
        font-size: 15px;
        text-align: center;
        padding-top: 5px;
        min-width: 26px;
        height: 22px;

        //permet d'avoir un arrondi sur toute la hauteur
        border-radius: 22px;
        position: relative;
        left: -12px;
        background-color: $color-primary;
        }
    
    //icones du tutoriel replacées et agrandies
    &__icon{
        position: relative;
        left: 15px;
        i{
             transform: scale(1.5)
        }
        }
    }  
}

//--
//card établissement
//--
.card{
    @include btn;
    height: 330px;
    overflow: hidden;
    position: relative;
    @include large{
        width: 380px;
    }
    &__img{
        height: 100%;
        img{
            width: 100%;
            position: absolute;
            bottom: 90px;
            @include desktop{
                height: 100%;
                object-fit: cover;
            }
           
        }
    }

    //texte et coeur
    &__body{
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 0;
        height: 22%;
        &__txt{
            flex: 6;
            padding-left: 15px;
            p, h3{
                font-size: 22px;

                //interligne
                margin: auto;
            }
        }

        //repositionner le coeur rose 
        .fa-solid{
            position: absolute;
            top: 20px;
        }
    }
}

//--
//bouton  de commande d'un plat
//--
.btn{
    @include btn;
    @include dish-anim;
    position: relative;
    height: 90px;
    display: flex;
    
    //pour masquer le slider
    overflow: hidden;
       
    //au survol de btn comportement du slider
    &:hover > .slider{
        transform: translateX(186%);

        //comportement de circle (cercle blanc).
        .circle{
            transform: rotate(1turn);

            /*pour avoir la rotation uniquement dans un sens*/
            transition-duration: 500ms;
        }

        //le tarif se déplace légèrement dans la div slider.
        p{
            transform: translateX(20%);
        }
    }

    //partie inerte du btn
    &__fixed-info{

        //donner une largeur pour voir apparaître les ellipsis
        width: 96%;
        position: absolute;
        height: 90px;
        margin-left: 0;
        padding-top: 0px;
        padding-left: 10px;
        
        //border: $border;
        h3{
            font-size: 22px;
            white-space: nowrap;
            
            //Tout le monde dit ça mais ça sert à rien.
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        p{
            font-size: 20px;
            //sert à rien
            display: block;
            margin-top: -16px;
            white-space: nowrap;

            //Tout le monde dit ça mais ça sert à rien.
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }

    //tiroir
    .slider{
        
        //pour travailler sur le ellipsis
        //visibility: hidden;
        width: 35%;
        display: flex;
        background-color: $color-white;
        transform: translateX(250%);

        //placé ici la translation est douce dans les deux sens.
        transition: 500ms;
        
        //tarif du plat
        p{
            flex: 1;
            font-size: 20px;
            //margin-right: 20px;
            padding-top: 35px;

            //placé ici la translation est douce dans les deux sens. le deuxième nombre est un retard?
            transition: 1000ms, 500ms;
        }
        
        //forme verte qui se révèle au survol.
        &__check{
            flex: 1.5;
            background-color: $color-tertiary;

            //cercle blanc qui contient la border rotative
            .circle{
                position: relative;
                margin: 30px auto ;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $color-white;
                
                //le signe check est une border right et bottom
                .rotborder{
                    @include rotborder;
                    position: absolute;
                    left: 9px;
                    top: 5px;
                    
                    
                }
            }
        }
        
    }
}
.test{
    @include btn;
    overflow: hidden;
    &__large{
        height: 90px;
        width: 120%;
        display: flex;
        //border: $border;
        &:hover > .info{

            //54% est une bonne valeur
            width: 52%;
            
        }
        &:hover > .price p{
            transform: translateX(20%);
        }
        &:hover > .checkslide{
            .checkcircle{
            
            //rotation du cercle blanc
            animation: oneturn 600ms;
            }
        
        }
        .info{
            width: 77%;
            //border: $border;
            white-space: nowrap;
            transition: all 600ms;
            padding-left: 10px;
            
            p{
                margin-top: -15px;
                font-size: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            h3{
                
                font-size: 22px;
                overflow: hidden;
                text-overflow: ellipsis;

            }
        }
        .price{
            width: 10%;
            background-color: $color-white;
            padding-left: 2%;
            padding-top: 35px;
            p{
            font-size: 20px;
            transition: all 600ms;
            //border: $border;
            }
        }
        .checkslide{
            //border: $border;
            width: 18%;
            background-color: $color-tertiary;
            
            
            .checkcircle{
                position: relative;
                margin: 30px auto ;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $color-white;
                transform: rotate(0turn);
                
                //le signe check est une border right et bottom
                .check{
                    @include rotborder;
                    position: absolute;
                    left: 9px;
                    top: 5px;
                    
                    
                }
            }
        }
    }
}
    
