.loader{
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 100%;
    animation: loader-fade-out 1s 2s forwards;
    @include gradient;
    &__container{
        position: relative;
        height: 800px;
        width: 70%;
        margin: auto;
    }
    &__logo{
        font-family: 'Shrikhand';
        font-size: 3em;
        color: $color-white;
        position: absolute;
        left: 50%;
        margin-left: -140px;
        bottom: 0;
    } 
    &::before {
        animation: 1s linear infinite spinner;
        animation-play-state: inherit;
        border: solid 5px $color-white;
        border-bottom-color: $color-primary;
        border-radius: 50%;
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        left: 50%;
        bottom: 400px;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
        @include desktop{
            width: 200px;
            height: 200px;
            
        }
    } 
}
