
/*bouton de plat d'origine avec translate d'un slider*/
.btn{
    @include btn;
    @include dish-anim;
    position: relative;
    height: 90px;
    display: flex;
    
    //pour masquer le slider
    overflow: hidden;
       
    //au survol de btn comportement du slider
    &:hover > .slider{
        transform: translateX(186%);

        //comportement de circle (cercle blanc).
        .circle{
            transform: rotate(1turn);

            /*pour avoir la rotation uniquement dans un sens*/
            transition-duration: 500ms;
        }

        //le tarif se déplace légèrement dans la div slider.
        p{
            transform: translateX(20%);
        }
    }

    //partie inerte du btn
    &__fixed-info{

        //donner une largeur pour voir apparaître les ellipsis
        width: 96%;
        position: absolute;
        height: 90px;
        margin-left: 0;
        padding-top: 0px;
        padding-left: 10px;
        
        //border: $border;
        h4{
            font-size: 22px;
            white-space: nowrap;
            
            //Tout le monde dit ça mais ça sert à rien.
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        p{
            font-size: 20px;
            //sert à rien
            display: block;
            margin-top: -16px;
            white-space: nowrap;

            //Tout le monde dit ça mais ça sert à rien.
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }

    //tiroir
    .slider{
        
        //pour travailler sur le ellipsis
        //visibility: hidden;
        width: 35%;
        display: flex;
        background-color: $color-white;
        transform: translateX(250%);
        
        //placé ici la translation est douce dans les deux sens.
        transition: 500ms;
        
        //tarif du plat
        p{
            flex: 1;
            font-size: 20px;
            //margin-right: 20px;
            padding-top: 35px;

            //placé ici la translation est douce dans les deux sens. le deuxième nombre est un retard?
            transition: 1000ms, 500ms;
        }
        
        //forme verte qui se révèle au survol.
        &__check{
            flex: 1.5;
            background-color: $color-tertiary;

            //cercle blanc qui contient la border rotative
            .circle{
                position: relative;
                margin: 30px auto ;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $color-white;
                
                //le signe check est une border right et bottom
                .rotborder{
                    @include rotborder;
                    position: absolute;
                    left: 9px;
                    top: 5px;
                    
                    
                }
            }
        }
        
    }
}

//version de dish-anim sans boucle for:
@mixin dish-anim{
    animation: dish-load $show-dur backwards;
    &--1{
        animation-delay: $show-delay;
    }
    &--2{//plat suivant
        animation-delay: $show-delay * 2;
    }
    &--3{//plat suivant
        animation-delay: $show-delay * 3;
    }
    &--4{//plat suivant
        animation-delay: $show-delay * 4;
    }
}