body{
    box-sizing: border-box;
    margin: auto;

    //...pour positionner un loader...
    position: relative;
    
    //masquer le body au chargement: attention on ne voit plus le chargement des plats sur la page menu...
    //transform: scaleY(0);
    //animation: body-fade-in 0s 3s forwards;
}
.main__index__container{
    @include desktop{

        //pour afficher section tuto et nav en ligne
        display: flex;
        
    }
}
.main, .footer, .header{
    &__container{
        max-width: 1400px;
        margin: auto;
    }
}
i{
    position: relative;
    top: 30%;

    //sinon c'est chaotique...
    transform: scale(1);
}

//dimensionnement de ces deux icones sur le site.
.fa-arrow-left{
    transform: scale(2);
}
.fa-heart{
    transform: scale(2.5);
}





