h1{
    font-size: 30px;
}
h1, h2, h3, h4, p, div, a{
    font-family: 'roboto', sans-serif;
}

a{/*tous les liens sont en noir et pas soulignés*/
    text-decoration: none;
    color: black;
}

ul{/*pas de puces sur les listes*/
    list-style-type: none;

    /*elimine le retrait des listes*/
    padding-left: 0;
}
.uppercase{
    text-transform: uppercase;
}
p{
    font-size: 1.5em;
}