
//animation des plats au chargement dans les pages menu
@keyframes dish-load{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

//test du loader
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

//disparition du loader
@keyframes loader-fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(200%);
    }
}

//apparition du body
@keyframes body-fade-in{
    from{
        transform: scaleY(0%);
    }
    to{
        transform: scaleY(100%);
    }
}

//animation du coeur
@keyframes heart{
    from{
        transform: rotateY(0);
        opacity: 0;
    }
    to{
        transform: rotateY(3);
        opacity: 1;
    }
}