@mixin footer-logo {
    transform: scale(0.3);
    filter: invert(180);
}

//largeur, centrage et ombres des boutons et cards
@mixin btn {
    width: 90%;
    margin: 25px auto;
    border-radius: 15px;
    background-color: $color-white;
    box-shadow: $box-shadow;

    //la flêche de la souris se change en main
    cursor: pointer;
    
}

//fond des boutons principaux et coeur
@mixin gradient{
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    
}

//inutilisée: version plus claire du gradient
@mixin hover-gradient{
    color: linear-gradient(to bottom right, lighten-10($color-secondary), lighten-10($color-primary));
}

//label vert "nouveau"
@mixin nouveau{

    //le mot "nouveau" est présent en html mais hidden
    display: initial;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40);
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1;
    padding: 8px 14px;
    font-size: large;
    font-weight: bold;
    border-radius: 2px;
}

//pour les icones heart et la flêche du header
@mixin icon-scale {
    transform: scale(2);
}

//signe vert de validation sur un plat
@mixin rotborder{
    height: 14px;
    width: 8px;
    border-bottom: 4px solid $color-tertiary;
    border-right: 4px solid $color-tertiary;
    transform: rotate(40deg);
}

//animation des plats au chargement de la page. Peut aussi être utilisée pour les <div> entrées plats desserts...
@mixin dish-anim{
    animation: dish-load $show-dur backwards;

    /*&--1{
        animation-delay: $show-delay;
    }
    &--2{//plat suivant
        animation-delay: $show-delay * 2;
    }
    &--3{//plat suivant
        animation-delay: $show-delay * 3;
    }
    &--4{//plat suivant
        animation-delay: $show-delay * 4;
    }*/

    //plus simple à écrire mais il faut toujours iterer les classes en HTML...
    @for $i from 1 to 4 {
        &--#{$i}{
            animation-delay: $show-delay * $i;
        }
    }
}
//animation des hearts de l'index pour que le coeur CORRESPONDANT se remplisse
@mixin heart-anim {
    @for $i from 1 to 4 {
        &--#{$i}{
            animation: heart 150ms 3 both;
        }
    }
    
}
//media query pour ordinateurs
@mixin desktop{ 
    @media screen and (min-width: map-get($breakpoints, medium)) {
        @content
    }
}
@mixin large {
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content
    }
}