$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99e2D0;
$color-footer: #000000;
$color-nav-background: #f8f8f8;
$color-nav-darker: #e6e6e6;
$color-white: white;
$color-shadow: #e7e6e6;
$color-header-shadow:rgb(117, 117, 117);
$color-hover-guide: rgb(248, 233, 252);


//toutes les ombres des boutons
$box-shadow: 10px 10px 10px $color-shadow;
$box-shadow-darker: 10px 10px 10px $color-header-shadow;

//la petite ombre sous le header
$header-shadow: 0px 8px 5px -5px $color-header-shadow;
$menu-border-radius: 50px 50px 0 0;
$border: solid 1px black;

//durée de l'apparition des plats
$show-dur: 700ms;
//retard des plats suivants
$show-delay: 300ms;

//une map avec les breakpoints pour faire des mixins media queries
$breakpoints: (
    desk: 768px
)
