footer{
    background-color: $color-footer;
    padding: 50px 20px 20px 20px;
        a, i{
            color: $color-white;
            margin-right: 8px;
        }
        li{
            margin-bottom: 10px;
        }
    
}

/*modification de la taille du logo, inversion des couleurs*/

.footer{
    &__container{
    position: relative;
    /*@include desktop{
        width: 1400px;
        margin: auto;
    }*/
}
    &__logo{
        position: absolute;
        left: -140px;
        top: -60px;
        margin-bottom: 30px;
        //border: white solid 2px;
        img{
            @include footer-logo;
        }
}

}