footer{
    background-color: $color-footer;
        a{
            color: $color-white;
        }
        i{
            color: $color-white;
            width: 20px;
            text-align: center;
        }
        li{
            margin-bottom: 10px;
            //border: 1px solid white;
        }

        /*modification de la taille du logo, inversion des couleurs*/
        img{
            @include footer-logo;
        }
}
.footer{

    //largeur 1400px déclaré dans fichier base
    &__container{
        position: relative;
        padding: 50px 20px 20px 20px;
    }
    &__logo{
        height: 40px;
        position: absolute;
        top: 0;
        left: -120px;
        //border: 1px solid white;
    }
}