footer{
    background-color: $color-footer;
    a{
        color: $color-light;
    }
    i{
        color: $color-light;
        width: 20px;
        text-align: center;
        margin-right: 8px;
    }
    li{
        margin-bottom: 10px;
    }

    /*modification de la taille du logo, inversion des couleurs*/
    img{
        @include footer-logo;
    }
}
.footer{

    //largeur 1400px déclarée dans le fichier base
    &__container{
        position: relative;
        padding: 50px 20px 20px 20px;
    }
    &__logo{
        height: 40px;
        position: absolute;
        top: 0;
        left: -120px;
    }
}