.header{
    &__container{
    height: 70px;
    box-shadow: $header-shadow;

    //permet de faire apparaître la box-shadow
    position: relative;

    //le logo est une background image, trop galère avec l'import en html...
    background: url("../../public/images/ohmyfood@2x.svg") no-repeat center;
    //border: $border;
    
    //ne fonctionne pas dans la propriété background...
    background-size: 40%;
    @include desktop{
        height: 100px;
    }
    
    }

    //icone flêche
    &__fleche {

        //le padding top en % évolue en même temps que la largeur de l'écran (!!!)
        padding-top: 25px;
        padding-left: 5%;
        @include desktop{
            padding-top: 40px;
        }
    }
    
    
}

