header {
    height: 70px;
    display: flex;
    position: relative;
    box-shadow: $header-shadow;
    background: url("../../public/images/ohmyfood@2x.svg") no-repeat center;//le logo est une background image, trop galère avec l'import en html...
    background-size: 40%;//ne fonctionne pas dans background...
    @include desktop{
        height: 100px;
    }
    /*img{//pour l'emploi 'une img en html...pas le cas pour le moment
        position: absolute;
        left: 32%;
        margin: 3% auto;
        //border: $border;
    }*/
    i{//icone flêche
        margin-left: 30px;
    }
}
