.menu{
    width: 100%;
    &__img{

        //photo resizée en mobile
        background: url("../../public/images/toa-heftiba-DQKerTsQwi0-unsplash1500.jpg") no-repeat center;
        background-size: 100%;

        //c'est le maximum pour la taille de resize des photos
        height: 280px;

        //coller le container de l'img au menu_content
        margin-bottom: -28px;
        @include desktop{

            //grosse image en desktop
            background: url("../../public/images/toa-heftiba-DQKerTsQwi0-unsplash-big.jpg") no-repeat center;
            background-size: cover;
            
        }
        /*img{

            //ne sert à rien car l'img est pour l'instant hidden
            width: 100%;
        }*/
    
    }
    &__content{
        background-color: $color-nav-background;
        border-radius: $menu-border-radius;
        position: relative;
        z-index: 1;
        margin-top: -70px;
        padding-bottom: 100px;
        h2{
            text-transform: uppercase;
            width: 50px;
            border-bottom: solid 3px $color-tertiary;
            padding-bottom: 8px;
            font-size: 18px;
            margin-left: 5%;
        }
    }
    &__header{
            display: flex;
            margin: auto 20px;
            padding-top: 10px;
            align-items: center;
            h1{
                font-family: 'Shrikhand';

                //repousser le coeur rose
                width: 94%;
                
            }
        }
    &__dishes{

        //en desktop comportement des <div> entrées plats desserts.
        @include desktop{
            display: flex;
            flex-wrap: wrap;
            .entrees, .plats, .desserts{
                min-width: 466px;
                margin: auto;
            }
        }
    }    
    
}
