.menu{
    &__img{
        overflow: hidden;
        img{
        width: 100%;
        background-size: 100%;
        object-fit: cover;
        height: 320px;
        }
    }
    &__content{
        background-color: $color-nav-background;
        border-radius: $menu-border-radius;
        position: relative;
        z-index: 1;
        margin-top: -70px;
        padding-bottom: 100px;
        h3{
            text-transform: uppercase;
            width: 50px;
            border-bottom: solid 3px $color-tertiary;
            padding-bottom: 8px;
            font-size: 18px;
            margin-left: 5%;
        }
    }
    &__header{
            display: flex;
            align-items: center;
            margin: auto 20px;
            padding-top: 10px;

            //nom de l'établissement
            h2{
                font-family: 'Shrikhand';
                font-size: 32px;
                
            }
            .heart{
                
                //repousser le coeur rose
                margin-left: auto;
                input{
                    
                    position: absolute;
                    left: 7px;
                    top: 8px;
                }
            }
    }
    &__dishes{
        .entrees, .plats, .desserts{
            margin-bottom: 50px;
        }
        
        //en desktop comportement des <div> entrées plats desserts.
        @include desktop{
            display: flex;
            flex-wrap: wrap;

            //aligner les plats en haut mais ça marche pas...
            align-items: flex-start;
            .entrees, .plats, .desserts{
                min-width: 466px;
                margin: auto;
                         
            }
        }
        
    }    
    
}
