//--
//titre et 4 cards d'établissement
//--
nav{
    background: $color-nav-background;
    padding: 60px 0;
        h2{
            padding-left: 5%;
        }
    @include desktop{

        //largeur de nav en desk
        flex: 1;
        padding: 0;
        ul{
            display: flex;
            flex-wrap: wrap;

            //conserver des marges sur les côtés quand les cards sont cote à cote.
            margin: 3%;

            //cette propriété indique l'écart minimum qu'on veut entre les éléménts!
            gap: 3%;
        }
    }
}
.new::after{
    content: "Nouveau";
    @include nouveau;
}



    
    
