.tuto{
    @include desktop{

        //largeur du tuto en desk
        width: 400px;
        height: auto;
    }
}
.local{
    background-color: $color-nav-background;
        &__header{
            background-color: $color-nav-darker;
            display: flex;
            height: 70px;
            
            //nom du quartier, de la ville et location-dot
            p{
               flex: 2;
               
            }
            i{
                flex: 1;
                left: 35%;
                top: 60%;
                transform: scale(1.5);
            }
        }
        &__explore{
            padding: 6%;
            
                h1, p{
                    text-align: center;
                    margin-bottom: -10px;
                    //border: $border;
                    @include desktop{
                        font-size: 1.2em;
                    }
                }
            
            
        }
   
}

.guide{
    padding: 8% 0;
    padding-bottom: 70px;
    h2{
        padding-left: 5%;
    }
}